

#part1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px;

}
#img1>img{
    width: 100%;
    height: 100%;
}

#navbar{

    background-color: rgb(245,227,215);
    color:grey;

}
#n1{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#n2{
    margin-top: 40px;
    height: 40%;
    width: 90%;
    margin: auto;
}
#n3{
    width: 90%;
    margin: auto;

}
#btn1{
    border: 2px solid black ;
    border-radius: 20px;
    color: black;
    font-weight: bolder;
    width:25%;
    height: 30px;
}

#abd1{
    display: flex;
}
#abd1>div:nth-child(1){

    width:45%;
    margin: auto;
    height:300px;
}
#abd1>div:nth-child(2){

    width:50%;
    margin: auto;
    height:300px;
    margin-left: 55px;
}
#abd1>div:nth-child(2)>img{

    width:100%;
    height:100%;
}
#abd2{
    width:100%;
    height: 200px;
    margin-top: 3px;
   
}
#abd2>img{
    width:24%;
    height: 100%;
    margin: auto;
    margin-left: 5px;
}
#exp{
    width: 100%;
    height:280px;
    display: flex;
    margin-top: 5px;
}
#exp>img{
    width: 50%;
    height: 100%;
}
#test{
    width: 100%;
    height:280px;
    display: flex;
    margin-top: 5px;
}
#test>img{
    width: 50%;
    height: 100%;
}

#con1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: lightsalmon;
    height: 900px;
}
#c1{
    width:90%;
    height:350px;
    margin-left: 30px;
}
#c1>input{

    margin-top: 30px;
    width: 400px;
    border: 0px;
    background-color: lightsalmon;
}


#c2{
    width: 100%;
    height: 400px;
}
#c2>img{
    width: 100%;
    height: 100%;
}
#but2{
    margin-top: 40px;
    border-radius: 20px;
    width:150px;
    height: 29px;
}

#map{
width:100%;
height: 300px;
align-items: center;
margin-left: 280px;

}
#map>img{
    width:100%;
    height: 100%;
    
}

@media all and (max-width=800px) and (min-width=550px){
  
    #part1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
    }
    

}

    